<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
 
  <ion-card *ngFor="let card of cards ">
    <ion-card-header>
      <ion-chip>
        <ion-label color="secondary" >  <ion-card-title>{{ card.marca}}  </ion-card-title></ion-label>
      </ion-chip>
     
         <ion-card-title>{{ card.titulo }}</ion-card-title>
     
      <ion-card-subtitle><ion-chip><ion-label color="secondary">{{ card.subtitulo }}</ion-label></ion-chip></ion-card-subtitle>
      
      <div>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
           <ion-img [src] = "card.foto1" ></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src] = "card.foto2" ></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src] = "card.foto3" ></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-header>

    <ion-card-content>
        {{ card.conteudo }}
    </ion-card-content>

  <ion-item>
    <Ion-chip>
    <ion-label color="warning" >ESTRELAS...</ion-label>
    <ion-badge color="warning" >{{card.estrelas}}</ion-badge>
    </Ion-chip>
  </ion-item>
  

   </ion-card>



    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>




